:root {
  // colors
  --swcom-vars--colors-palette--primary0: #{$color-palette--primary0};
  --swcom-vars--colors-palette--primary1: #{$color-palette--primary1};
  --swcom-vars--colors-palette--primary2: #{$color-palette--primary2};
  --swcom-vars--colors-palette--primary3: #{$color-palette--primary3};
  --swcom-vars--colors-palette--primary4: #{$color-palette--primary4};
  --swcom-vars--colors-palette--primary5: #{$color-palette--primary5};
  --swcom-vars--colors-palette--primary6: #{$color-palette--primary6};
  --swcom-vars--colors-palette--primary7: #{$color-palette--primary7};
  --swcom-vars--colors-palette--primary8: #{$color-palette--primary8};
  --swcom-vars--colors-palette--primary9: #{$color-palette--primary9};
  --swcom-vars--colors-palette--primary10: #{$color-palette--primary10};
  --swcom-vars--colors-palette--secondary0: #{$color-palette--secondary0};
  --swcom-vars--colors-palette--secondary1: #{$color-palette--secondary1};
  --swcom-vars--colors-palette--secondary2: #{$color-palette--secondary2};
  --swcom-vars--colors-palette--secondary3: #{$color-palette--secondary3};
  --swcom-vars--colors-palette--secondary4: #{$color-palette--secondary4};
  --swcom-vars--colors-palette--secondary5: #{$color-palette--secondary5};
  --swcom-vars--colors-palette--secondary6: #{$color-palette--secondary6};
  --swcom-vars--colors-palette--secondary7: #{$color-palette--secondary7};
  --swcom-vars--colors-palette--secondary8: #{$color-palette--secondary8};
  --swcom-vars--colors-palette--secondary9: #{$color-palette--secondary9};
  --swcom-vars--colors-palette--secondary10: #{$color-palette--secondary10};
  --swcom-vars--colors-palette--red0: #{$color-palette--red0};
  --swcom-vars--colors-palette--red1: #{$color-palette--red1};
  --swcom-vars--colors-palette--red2: #{$color-palette--red2};
  --swcom-vars--colors-palette--red3: #{$color-palette--red3};
  --swcom-vars--colors-palette--red4: #{$color-palette--red4};
  --swcom-vars--colors-palette--red5: #{$color-palette--red5};
  --swcom-vars--colors-palette--red6: #{$color-palette--red6};
  --swcom-vars--colors-palette--red7: #{$color-palette--red7};
  --swcom-vars--colors-palette--red8: #{$color-palette--red8};
  --swcom-vars--colors-palette--red9: #{$color-palette--red9};
  --swcom-vars--colors-palette--red10: #{$color-palette--red10};
  --swcom-vars--colors-palette--orange0: #{$color-palette--orange0};
  --swcom-vars--colors-palette--orange1: #{$color-palette--orange1};
  --swcom-vars--colors-palette--orange2: #{$color-palette--orange2};
  --swcom-vars--colors-palette--orange3: #{$color-palette--orange3};
  --swcom-vars--colors-palette--orange4: #{$color-palette--orange4};
  --swcom-vars--colors-palette--orange5: #{$color-palette--orange5};
  --swcom-vars--colors-palette--orange6: #{$color-palette--orange6};
  --swcom-vars--colors-palette--orange7: #{$color-palette--orange7};
  --swcom-vars--colors-palette--orange8: #{$color-palette--orange8};
  --swcom-vars--colors-palette--orange9: #{$color-palette--orange9};
  --swcom-vars--colors-palette--orange10: #{$color-palette--orange10};
  --swcom-vars--colors-palette--green0: #{$color-palette--green0};
  --swcom-vars--colors-palette--green1: #{$color-palette--green1};
  --swcom-vars--colors-palette--green2: #{$color-palette--green2};
  --swcom-vars--colors-palette--green3: #{$color-palette--green3};
  --swcom-vars--colors-palette--green4: #{$color-palette--green4};
  --swcom-vars--colors-palette--green5: #{$color-palette--green5};
  --swcom-vars--colors-palette--green6: #{$color-palette--green6};
  --swcom-vars--colors-palette--green7: #{$color-palette--green7};
  --swcom-vars--colors-palette--green8: #{$color-palette--green8};
  --swcom-vars--colors-palette--green9: #{$color-palette--green9};
  --swcom-vars--colors-palette--green10: #{$color-palette--green10};
  --swcom-vars--colors-palette--lightblue0: #{$color-palette--lightblue0};
  --swcom-vars--colors-palette--lightblue1: #{$color-palette--lightblue1};
  --swcom-vars--colors-palette--lightblue2: #{$color-palette--lightblue2};
  --swcom-vars--colors-palette--lightblue3: #{$color-palette--lightblue3};
  --swcom-vars--colors-palette--lightblue4: #{$color-palette--lightblue4};
  --swcom-vars--colors-palette--lightblue5: #{$color-palette--lightblue5};
  --swcom-vars--colors-palette--lightblue6: #{$color-palette--lightblue6};
  --swcom-vars--colors-palette--lightblue7: #{$color-palette--lightblue7};
  --swcom-vars--colors-palette--lightblue8: #{$color-palette--lightblue8};
  --swcom-vars--colors-palette--lightblue9: #{$color-palette--lightblue9};
  --swcom-vars--colors-palette--lightblue10: #{$color-palette--lightblue10};
  --swcom-vars--colors-palette--gray0: #{$color-palette--gray0};
  --swcom-vars--colors-palette--gray1: #{$color-palette--gray1};
  --swcom-vars--colors-palette--gray2: #{$color-palette--gray2};
  --swcom-vars--colors-palette--gray3: #{$color-palette--gray3};
  --swcom-vars--colors-palette--gray4: #{$color-palette--gray4};

  --swcom-vars--colors-semantics--bg-base: #{$color-semantics--bg-base};
  --swcom-vars--colors-semantics--text-base: #{$color-semantics--text-base};
}
